<!DOCTYPE html>
<html>
  <head>
    <title>Tts Ecom Site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
      <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <%= link_to "Products", root_path, class: "nav-link" %>
      </li>
    <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Brands
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% @brands.each do |brand| %>
              <%= link_to brand, branding_path(brand: brand), class:"dropdown-item" %>
            <% end %>
          </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% @categories.each do |category| %>
              <%= link_to category.name, categorical_path(category_id: category.id), class:"dropdown-item" %>
            <% end %>
          </div>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% @brands.each do |brand| %>
              <%= link_to brand, branding_path(brand: brand), class:"dropdown-item" %>
            <% end %>
          </div>
      </li>
      <li class="nav-item">
        <%= link_to "Admin Products", products_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Cart', view_order_path, class: "nav-link" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Update Account", edit_user_registration_path(), class: "nav-link" %>
          </li>
          <li class="nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign In", new_user_session_path(), class: "nav-link" %>
            </li>
          <% end %>
    </ul>
  
    <%= yield %>
  </div>
  </body>
</html>
